{% extends "base.html" %}
    {% block content %}
        <section class="container my-2">
        <h1 class="fs-2 text">BISINTECH image editor</h1>
        <form action='/edit' method='post' enctype='multipart/form-data'>
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name='file' id="formFile">
            </div>
            <div class="form-floating">
                <select class="form-select" name="format" id="floatingSelect"
                    aria-label="Floating label select example">
                    <option value="pmg" selected>choose an operation</option>
                    <option value="jpeg">JPEG</option>
                    <option value="png">PNG</option>
                    <option value="webp">WebP</option>
                </select>
                <label for="floatingSelect"> select the converter </label>
            </div>
            <button type='submit' class="btn btn-success my-2">submit</button>

        </form>
    </section>
{% endblock %}